.column.advantage.padding-vertical60.padding-left20.padding-right40
  .title
    Bring teams together, release like never before
  .description
    Register for a webinar to learn why DevOps teams choose Gitlab
  .row
    .column.item
      = image_tag "/images/devops-tools/gitlab-pipeline.svg"
      .title
        Remote super powers
      .description
        Powered by Git, a lightning fast distributed version control system, GitLab gives remote contractors and continentally distributed teams the same goodies: lightning fast branching, merging and availability. Ready to code anytime, anywhere.
    .column.item
      = image_tag "/images/devops-tools/security-icon.svg"
      .title
        Deliver continuously
      .description
        Regardless of your branching model, we got you covered. Design your architecture, collect requirements, branch out, merge back and deliver and store valuable packages all in the same place.
    .column.item
      = image_tag "/images/devops-tools/gitlab-rocket.svg"
      .title
        Everyone is welcome
      .description
        Designers, programmers, PMs can have their assets versioned and reviewed just like source code. Every team member deserves to have their work reviewed and tested and GitLab provides the tools for that to happen no matter what asset you work with. Everyone can contribute.
