.container.text-left
  .row.u-margin-top-lg
    .col-md-6
      = image_tag "/images/events/gitlab-commit/intro.jpg"
    .col-md-6.u-margin-bottom-xs
      %h1 Commit to better DevOps
      %p 
        Commit 2020 is a 24-hour virtual experience filled with practical DevOps strategies shared by leaders in development, operations, and security. You’ll discover innovative solutions to help you solve your industry's greatest challenges, including enhancing culture and shortening release times.
      %p         
        %strong
          60+ speakers from 20+ industries presenting over 8+ tracks: All for free. Belong to a community of people passionate about DevOps.
      -# The above variable "expiration_date" automatically disables related buttons
      -# expiration_date should be specified using the ISO 8601 date format, YYY-MM-DD
      -# Example uses include when the CFP expires or when tickets can no longer be purchased.
      - if current_page.data.expiration_date
        - expirationDate = Time.parse(current_page.data.expiration_date)
      - else
        - expirationDate = Time.parse("2010-01-01")

      - currentTime = Time.now.in_time_zone("Pacific Time (US & Canada)")
      - if (expirationDate > currentTime && current_page.data.event_register_url)
        %script{ src: "https://www.eventbrite.com/static/widgets/eb_widgets.js", type: "text/javascript", charset: "utf-8" }
        :javascript
            window.EBWidgets.createWidget(
            {
              widgetType: 'checkout',
              eventId: '105130995638',
              modal: true,
              modalTriggerElementId: 'eventbrite-widget-modal-trigger-105130995638',
              onOrderComplete: function() 
              {
                console.log('Eventbrite Virtual Commit 2020 order complete');
              }
            });
        %noscript
          :plain
            <noscript><a href="https://www.eventbrite.com/e/gitlab-commit-virtual-tickets-105130995638#tickets" rel="noopener noreferrer" target="_blank"></noscript>
            <button id="eventbrite-widget-modal-trigger-105130995638" type="button" class="btn cta-btn orange" style="border: 1px solid #ffffff;">Register now</button>
            <noscript>Register now</a></noscript>
