- omit_levels = false
.container.text-center
  .row.u-margin-top-lg
    .col-md-12.sponsors-media
      %h2 Media Partners
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors_media_partners, link_text: "sponsors", link_url: "#", omit_levels: true }
  .row.u-margin-bottom-md
    .col-md-12.sponsors-partners
      %h2 Sponsors
      = partial "/includes/events/commit/sponsor-logos-transparent", locals: { logos_data: data.sponsors, title: "Our Honored Sponsors", link_url: "#", omit_levels: false }
