.container
  .row.u-margin-top-lg.text-left

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-sm
      %h1 Tracks
      %h4 Leading Transformation
      %p Stories about your journey to improve and streamline development and deliver value faster without compromising security or compliance. Where did you start? What did you discover? What can you teach your peers about adopting GitLab and improving your business?
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/come-together1.jpg"

  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/hands_on_learning1.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-sm
      %h4 GitLab How-tos, Tips, and Tricks
      %p Do you have a success story (or a horror story!) you'd like to tell about using GitLab? This is a place to share the lessons you've learned with the broader GitLab community. From primers on setting up labels and using boards to technical deep dives on optimizing your gitlab-ci.yml and configuring Prometheus, this is the place for you. Code snippets, command line, and live demos recommended.

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-sm
      %h4 Public Sector - Leading Transformation
      %p Discover how to create an environment that enables your global Public Sector and Regulated Industry workforce to innovate, survive, and succeed @ speed. Learn how teams are streamlining development and designing new paradigms to deliver value faster without compromising security or compliance.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/data-panel.jpg"

  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/devops1.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-sm
      %h4 Cloud Native DevOps
      %p Learn about designing, developing, and deploying multi cloud, secure, resilient, scalable applications using the cloud and Kubernetes. 

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-sm
      %h4 Remote, but Always Connected
      %p Suddenly remote with more questions than answers? In this track, you'll learn how those in the broader remote work community are turning remote into a competitive advantage through asynchronous collaboration, intentional communication, and newfound work/life harmony.
    .col-md-5.col-md-offset-1
      = image_tag "/images/events/gitlab-commit/non-dev.jpg"

  .row.u-margin-bottom-md
    .col-md-5
      = image_tag "/images/events/gitlab-commit/come-together.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-sm
      %h4 Everyone Can Contribute
      %p We’re passionate about building on a diverse, inclusive, balanced community where everyone can contribute. This is the track for those who share our passion. Learn about open source community best practices, how to build diverse communities, how to get started as a contributor to GitLab, and other community-focused topics.

  .row.u-margin-bottom-md
    .col-md-5.u-margin-top-sm
      = image_tag "/images/events/gitlab-commit/compliance.jpg"
    .col-md-5.col-md-offset-1.u-margin-top-sm
      %h4 DevSecOps and Compliance
      %p Dive into how teams are reducing risk, shifting left, and addressing security and compliance challenges with GitLab. See how other organizations are integrating compliance into their workflows to create and run compliance management programs that can keep up with accelerated development and the pace of regulatory change. 

  .row.u-margin-bottom-xs
